body {
  background-color: #000000;
  color: aliceblue;
  font-family: "poppins";
  font-size: 0.8rem;
  height: 100%;
}
li {
  color: rgba(255, 255, 255, 1);
}
li span {
  color: rgba(255, 255, 255, 0.75);
}
li:hover {
  color: rgb(118, 174, 202);
}
.social-icons-container .inner-social-icons-container a img {
  filter: brightness(0.5); /* 180 grados representa el tinte azulado */
}
.social-icons-container .inner-social-icons-container a:hover img {
  filter: brightness(100%) hue-rotate(180deg);
}
/* SIDE MENU */
.side-menu {
  text-align: center;
}
.side-menu a {
  color: rgba(255, 255, 255, 0.75);
}
.side-menu a:hover {
  color: rgb(118, 174, 202);
}
/* Iconos de redes */
.social-icons-container {
  margin-top: 40px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}
.inner-social-icons-container {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
}
.inner-social-icons-container a {
  margin: 50px auto;
}
/* carousel propiedades de imagen  */

.carousel-item {
  height: 90vh;
}
.carousel-item img {
  max-width: 100%;
  height: auto;
}

.footer {
  width: 100%;
  padding: 10px; /* Espaciado interno del footer */
  text-align: center; /* Alineación del contenido del footer */
  font-size: 14px; /* Tamaño de fuente del texto del footer */
  position: relative !important;
}

/* Estilos para el botón */
.custom-button {
  background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco */

  border: none;
  padding: 15px 30px; /* Espaciado interno del botón */

  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Estilos para dispositivos móviles */
@media (max-width: 992px) {
  /* General, html and body */

  /* Navbar */
  #offcanvasNavbar {
    background-color: #000000 !important;
  }
  /* Call to action button */
  .action-button-container {
    margin-top: 10vh !important;
  }
  .custom-button {
    font-size: 14px; /* Tamaño de fuente más pequeño para móviles */
    padding: 12px 24px; /* Espaciado interno más pequeño para móviles */
  }
  /* Carousel */
  .carousel {
    height: 50vh;
  }
  .carousel-item,
  .carousel-inner,
  .carousel-inner img {
    height: 100%;
    object-fit: contain;
  }
  .carousel-item {
    text-align: center;
  }
  /* whatsapp */ /* whatsapp */ /* whatsapp */ /* whatsapp */ /* whatsapp */ /* whatsapp */ /* whatsapp */ /* whatsapp */ /* whatsapp */ /* whatsapp */
  .whatsapp-container {
    position: fixed;
    left: 35vw;
    top: 60vh;
    z-index: 1000;
    opacity: 0.7;
  }

  .whatsapp-container img {
    height: 70px;
  }
  /* Footer */
}

/* Modificar el ancho horizontal del offcanvas */

.offcanvas-start {
  width: 40%;
}

/* Estilos para pantallas grandes (más de 768px) */
.bodystyle {
  display: flex;
  padding-top: 5px;
}

@media (max-width: 768px) {
  body {
    text-align: center;
  }
  .action-button-container {
    margin-top: 5vh !important;
  }

  .service-footer {
    position: fixed !important;
    bottom: 0;
  }
}
@media (max-width: 1055px) {
  .TextParragraph {
    margin: 0 !important;
  }
}

/* Services */ /* Services */ /* Services */ /* Services */ /* Services */ /* Services */ /* Services */ /* Services */ /* Services */ /* Services */ /* Services */ /* Services */ /* Services */ /* Services */ /* Services */
.dropdown-menu {
  position: relative !important;
}
/* .services-dropdown-container {
} */
.dropdown-item {
  position: relative;
  text-decoration: none;
}
.dropdown-item a {
  color: aliceblue;
  text-decoration: none;
}

.displayNone {
  display: none !important;
}

@media (min-width: 992px) {
  #services-dropdown-container {
    display: none !important;
  }
  .TextParragraph {
    cursor: pointer;
    margin-bottom: 10px;
  }

  .img-group-container img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .footer {
    position: fixed;
    bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .main {
    margin-top: 0 !important;
  }
  .img-group-container {
    border: solid 1px red;
  }
  .img-group-container .img-item,
  .img-group-container .img-fluid {
    border: solid 1px green;
  }
  .TextParragraph {
    cursor: pointer;
  }
}
/*Work Pager*/ /*Work Pager*/ /*Work Pager*/ /*Work Pager*/ /*Work Pager*/ /*Work Pager*/ /*Work Pager*/ /*Work Pager*/ /*Work Pager*/ /*Work Pager*/ /*Work Pager*/ /*Work Pager*/ /*Work Pager*/ /*Work Pager*/ /*Work Pager*/ /*Work Pager*/ /*Work Pager*/ /*Work Pager*/ /*Work Pager*/
.grid-gallery {
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  grid-gap: 10px;
}
.grid-gallery .grid-item {
  position: relative;
  background-color: transparent;
  overflow: hidden;
}
.grid-gallery .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.grid-gallery .grid-item:hover img {
  transform: scale(1.1);
}
.grid-gallery .grid-item a {
  cursor: zoom-in;
}
.grid-gallery .grid-item:nth-child(3n-2) {
  grid-column: span 2;
  grid-row: span 2;
}
.image-description {
  position: absolute;
  bottom: 0; /* Inicialmente fuera de la vista */
  left: 0;
  width: 100%;
  padding: 10px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.208);
  color: white;
  transition: opacity 0.5s ease;
}
.grid-item:hover .image-description {
  opacity: 1;
}
@media (max-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
  }
  .grid-gallery .grid-item:nth-child(3n-2) {
    grid-column: unset;
    grid-row: unset;
  }
}

/* Contact page */ /* Contact page */ /* Contact page */ /* Contact page */ /* Contact page */ /* Contact page */ /* Contact page */ /* Contact page */ /* Contact page */ /* Contact page */ /* Contact page */ /* Contact page */
@media (min-width: 768px) {
  form {
    width: 40%;
    margin-left: 30%;
  }
}
